{% include './partials/header.html' %}

<script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>

<div class="normal-container">
    {% include './partials/message.html' %}

    <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">浏览次数</p>
            <p class="title">{{count_visits}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">已经有这么多人贡献了他们的翻译</p>
            <p class="title" id="label_count_translations">{{count_translations}}</p>
          </div>
        </div>
      </nav>
    <div>
        <div class="page-card-title" style="margin-bottom: 16px">{{ title }}</div>
        <article class="message is-primary">
            <div class="message-body">
                {{ description }} 
                <a onclick="display('invisible_lb')"> <font color="blue"> [Eng] </font> </a>
            </div>
            <div id="invisible_lb" class="message-body" style='display:none'>
                <font> {{description_en}} </font>
            </div>
        </article>

        <article id="errorMessage" class="message is-danger" style="display: none">
        <div class="message-body">
        </div>
        </article>

        <div class="page-card-title" style="margin-bottom: 16px">帮助我们获取数据集</div>

        <article class="message is-primary">
            <div class="message-body">
                <div class="content">
                    <ul>
                        <li><strong>模型原理：</strong>可以将我们的模型看作是一个只会普通话的“小孩子”，通过不断地教导他每一句普通话对应的潮汕话，让他领悟普通话和潮汕话之间的转换关系，从而能帮助我们翻译。</li>
                        <li><strong>我们不会泄露您的个人隐私</strong>，请您放心填写，同时后续我们会开源该项目以及训练数据集。<a onclick="display('more_lb')"> <font color="blue"> [更多] </font> </a></li>
                    </ul>
                </div>
            </div>
        </article>
        <div id="more_lb" class="content" style='display:none'>
        <article class="message is-info">
                <div class="message-header">
                    <p>模型的具体情况</p>
                    <button class="delete" aria-label="delete" onclick="display('more_lb')"></button>
                </div>
                <div class="message-body">
                    <div class="content"><ul>
                        <li>PT-CS Translator模型采用了目前语音生成领域最新的Waveglow，Tacotron2，Hifi-GAN作为基础模型，加上作者自己开发的StyleTTS模型，转换后的潮汕话将能非常接近真实语音。</li>
                        <li>普通话数据集采用ST-CMDS，其中包含了常用7000个汉字和日常对话，很适合该项目的目标人群。</li>
                        <li>训练数据对模型的效果至关重要，我们需要<strong>10000+</strong>句的翻译样本来让模型学习到较好的效果。如果您会说潮汕话，请帮助我们收集数据集。您也可以帮忙分享给您认识的潮汕朋友。
                        <li>对算法感兴趣的朋友，请查看我的<a href="https://guanyueli.com/how-to-translate-chaoshanhua-to-putonghua/">博客</a>。</li>
                    </ul>
                    </div>
                </div> 
        </article>
        </div>
        
        <div class="field">
            <label class="label">性别</label>
            <div class="control">
              <label class="radio">
              <input type="radio" name="question" id='label_male' checked>
                男
              </label>
              <label class="radio">
                <input type="radio" name="question" id='label_female'>
                女
              </label>
            </div>
          </div>

        <div class="field">
            <label class="label">地区</label>
            <div class="control">
              <div class="select">
                <select id='select_region'>
                  <option>汕尾三甲地区</option>
                  <option>汕尾其他地区</option>
                  <option>潮州</option>
                  <option>汕头</option>
                  <option>揭阳</option>
                  <option>其他</option>
                </select>
            </div>
            </div>
            <p class="help">选择最接近您的翻译的地区。</p>
        </div>

        <div class="field">
            <label class="label">邮箱</label>
            <div class="control">
              <input class="input is-success" type="email" placeholder="xxxxxxx.@qq.com" id="email_input">
            </div>
            <p class="help">用于推送项目的进展，可以不填。</p>
        </div>
          
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" id="condition_checkbox">
                我同意将我的翻译作为开放数据集的一部分，点击查看<a onclick="display('invisible_condition')"> <font color="blue"> 具体情况 </font> </a>。
              </label>
            </div>
            <div id="invisible_condition" class="content" style='display:none'>
                <article class="message is-info">
                        <div class="message-header">
                            <p>为什么要开放数据集？</p>
                            <button class="delete" aria-label="delete" onclick="display('invisible_condition')"></button>
                        </div>
                        <div class="message-body">
                            <div class="content"><ul>
                                <li>现在人工智能的发展离不开数据，大量的数据可以让计算机模型学习到更好的结果，因此开源数据库是一个非常有意义的事情。作者个人的力量是有限的，如果能让其他开发者也能得到潮汕话的数据集，说不定能够提出更好的翻译模型出来。因此如果不涉及隐私，大胆打勾吧:]</li>
                                </ul>
                            </div>
                        </div> 
                </article>
            </div>
            <p class="help">如果不选，您的翻译只用于训练模型，不会作为开放数据集的一部分。</p>
          </div>

        <div class="block" style="padding-top:15px;">
            <div class="field">
            <div class="control">
              <button class="button is-link" id="btn_permission" onclick="recOpen('btn_permission', 'label_permission')">开启录音权限</button>
            </div>
            <p class="help" id="label_permission">请允许网站调用您的录音设备，我们只保存您录制的音频。</p>
        </div></div>

        <div class="block">
            <article class="message is-success">
                <div class="message-body">
                <p id="label_translation_text"></p>
                <audio controls src="/data/demo.wav" style="padding-top:15px;"></audio>
                <p class="help"><font color="black" style="padding-left:30px;" id="label_recording">如果断句困难，点击听一听。</font></p>
                    <div class="pd recpower" style="padding-top:15px;">
                        <div style="height:40px;width:300px;background:#999;position:relative;">
                            <div class="recpowerx" style="height:40px;background:#0B1;position:absolute;" id="mon_x_1"></div>
                            <div class="recpowert" style="padding-left:50px; line-height:40px; position: relative;" id='mon_t_1'></div>
                        </div>
                    </div>
                    <div class="field" id="ph_span">
                        
                    </div>
                    <div class="field is-grouped" style="padding-top:15px;">
                        <div class="control">
                              <button class="button is-link" id="btn_record_1" onclick="recStart('btn_record_1', 'btn_stop_1', 'btn_play_1', 'btn_upload_1')" >录音</button>
                        </div>
                        <div class="control">
                              <button class="button is-link" id="btn_stop_1" onclick="recStop('btn_record_1', 'btn_stop_1', 'btn_play_1', 'btn_upload_1')" disabled>停止</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" id="btn_play_1" onclick="recPlay('btn_record_1', 'btn_stop_1', 'btn_play_1', 'btn_upload_1')" disabled>播放</button>
                        </div>
                        <div class="control">
                            <button class="button is-danger" id="btn_upload_1" onclick="recUpload('btn_record_1', 'btn_stop_1', 'btn_play_1', 'btn_upload_1')" disabled>提交</button>
                        </div>
                    </div>
                    <p id="label_say_something" class="help"></p>
                    <p class="help">录音：点击开始（重新）录音；</p>
                    <p class="help">停止：翻译结束；</p>
                    <p class="help">播放：点击听录音，不满意可以再次录音；</p>
                    <p class="help">提交：提交翻译；</p>
                    <div class="control">
                      <button class="button is-link is-light" id="btn_next" onclick="recNext('btn_record_1', 'btn_stop_1', 'btn_play_1', 'btn_upload_1')" disabled>这一句太难</button>
                    </div>
                </div>
            </article>
        </div>
        
        
    </div>
</div>

<script>

</script>

{% include './partials/footer.html' %}